#contact {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 8px 0;

            &.last{
                margin-bottom: 20px;
            }
        }

        .option {
            display: inline-block;
            width: 40px;
        }
    }
}