footer{
    display: flex;
    margin: 32px 0 24px;
    font-size: 14px;

    a {
        color: #696969;

        &:hover {
            color: #202020;
        }
    }

    .email {
        display: inline-block;
        margin-left: 16px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .footer-logo {
        font-size: 16px;
        margin-top: -2px;
        display: inline-block;

        span {
            font-size: 12px;
        }
    }
}