@import "variables.less";
@import "navigation.less";
@import "home.less";
@import "contact.less";
@import "project.less";
@import "office.less";
@import "footer.less";

body {
    font-family: @futura-book;
    color: @black;
    background-color: #e9ecef;
}

a {
    color: @red;

    &:hover, &:active {
        color: @red;
    }
}

.legal{
    h1 {
        margin-bottom: 32px;
    }

    h6 {
        font-size: 18px;
        font-weight: normal;
        font-family: @futura-light;
        margin-bottom: 0;
    }
}

strong {
    font-family: @futura-medium;
}