@import "variables.less";
@import "navigation.less";
@import "home.less";
@import "project.less";
@import "footer.less";

body {
    font-family: @opensans;
    color: @black;
}

a {
    color: @red;

    &:hover, &:active {
        color: @red;
    }
}