#office {
    ul {
        margin: 0;
    }

    img {
        width: 100%;
    }

    .divider {
        border-top: 1px solid transparent;
        margin-bottom: 59px;
    }

    .textSection {
        position: relative;

        .anchor {
            position: absolute;
            left: 0;
            top: -24px;
        }
    }
}