.title {
    margin-bottom: 24px;
    font-family: @hind;
}

p {
    font-family: @opensans;
}

h4 {
    font-family: @hind;
}

.divider {
    border-top: 1px solid transparent;
    margin-bottom: 24px;
}

.slide {
    margin: 16px;
}

.slick-slider img {
    width: 100%;
}

.slick-dots {
    position: relative;
    bottom: -15px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 60px;
}

.slick-dots li.slick-active button:before {
    color: @red;
}