.title {
    margin-bottom: 24px;
    font-family: 'Futura LT W01 Medium';
    font-size: 20px;
    line-height: .7;

    &.top {
        @media screen and (max-width: 768px){
            margin-top: 24px;
        }
    }
}

p {
    font-family: @futura-light;
    font-size: 1em;
}

h4 {
    font-family: @futura-medium;
}

.facts {
    margin-top: -5px;
}

.divider {
    border-top: 1px solid transparent;
    margin-bottom: 24px;
}

.more {
    background-color: #d8d8d8;
    padding-top: 20px;
}

.more-wrapper {
    width: ~"calc(100% + 16px)";
    margin-left: -8px;
}

.more-title {
    font-size: 20px;
}

.arrow-wrapper {
    position: relative;
}

.slide {
    margin: 8px;

    .subtitle {
        margin-top: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: @red;
        font-family: @futura-book;
    }
}

.slick-slider img {
    width: 100%;
}

.slick-dots {
    position: relative;
    bottom: -15px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 40px;
}

.slick-dots li.slick-active button:before {
    color: @red;
}

.arrow {
    position: absolute;
    top: ~"calc(50% - 32px)";
    height: 32px;
    width: 32px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &.prev {
        left: 10px;
    }

    &.next {
        right: 10px;
    }
}