@black: #111111;
@red: #aa0022;
@light-grey: #F0F0F0;
@grey: #a0a0a0;

@futura-light: 'Futura LT W01 Light';
@futura-book: 'Futura LT W01 Book';
@futura-medium: 'Futura LT W01 Medium';
@futura-bold: 'Futura LT W01 Heavy';
