.navigation-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
}
.navigation-wrapper .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navigation-wrapper .bars {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  height: 100%;
}
.navigation-wrapper .bars i {
  cursor: pointer;
}
.nav-overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.nav-overlay .close {
  position: absolute;
  top: 35px;
  right: 45px;
  cursor: pointer;
  font-size: 28px;
  color: #111111;
  opacity: 1;
}
.nav-overlay .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-overlay .list .item {
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  margin: 16px;
}
.nav-overlay .list .item a {
  color: #111111;
  transition: .2s all;
}
.nav-overlay .list .item a:hover {
  color: #9b2321;
  text-decoration: none;
}
.nav-overlay .list .item.light {
  font-weight: 400;
  font-size: 18px;
  margin: 8px 0;
}
.preview {
  width: 100%;
}
section {
  padding-top: 40px;
}
.project {
  transition: .4s all;
  margin: 16px 0;
}
.project:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.project .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.2);
}
.title {
  margin-bottom: 24px;
  font-family: 'Hind', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
.slick-slider img {
  width: 100%;
}
.slick-dots {
  position: relative;
  bottom: -15px;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dotted.slick-slider {
  margin-bottom: 60px;
}
.slick-dots li.slick-active button:before {
  color: #9b2321;
}
footer {
  display: flex;
  text-align: center;
  height: 80px;
  margin-top: 32px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #111111;
}
a {
  color: #9b2321;
}
a:hover,
a:active {
  color: #9b2321;
}
